// -----------------------------颜色-----------------------------
// 背景颜色
$color-bg-dark = #0d79d1
$color-bg-theme = #0f88eb
$color-bg-light = #ccd8e1
$color-bg-base = #f3f3f3
$color-bg-white = #fff
// 字体颜色
$color-text-black = #1e1e1e
$color-text-base = #262626
$color-text-gray = #787878
$color-text-blue = #175199
$color-text-cyan = #00bbfb
$color-text-light = #8590a6
$color-text-red = #f75659
$color-text-white = #fff

// -----------------------------尺寸-----------------------------
// 边距（内、外）
$ruler-small = 5px
$ruler-base = 10px
$ruler-large = 15px
$ruler-big = 20px

// 圆角
$border-radius-small = 4px
$border-radius-base = 6px
$border-radius-large = 8px

//字符
$font-family = Helvetica Neue, Helvetica, 'Microsoft Yahei', Arial, sans-serif
// 字体大小
$font-size-super = 36px
$font-size-big = 24px
$font-size-large = 20px
$font-size-medium = 18px
$font-size-base = 16px
$font-size-small = 14px
$font-size-mini = 12px
// 字体粗细
$font-weight-base = 400
